@import 'styles/breakpoints';
@import 'styles/tokens';

.component {
	display: flex;
	justify-content: flex-start;

	svg {
		width: 180px;
		height: auto;
		display: block;
		color: $c-base;
		overflow: visible;
	}

	svg path {
		fill: none;
		stroke: currentcolor;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 8px; // SVG user units
	}
}
